<a href="https://colab.research.google.com/github/jasica-sethi17/calculation-of-worker-s-payment/blob/main/Copy_of_Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#SET1 
#JASICA KAUR SETHI
#Q1:TO CHECK WHETHER THE GIVEN NUMBERS ARE TRIPLET OR NOT
a = int(input("Please Enter the First Number  = "))
b = int(input("Please Enter the Second number = "))
c = int(input("Please Enter the Third number  = "))

if a*a+b*b==c*c:
  print("Yes these are pythagorean triplets")
else:
  print("No these are not pythagorean triplets")

Please Enter the First Number  = 3
Please Enter the Second number = 4
Please Enter the Third number  = 5
Yes these are pythagorean triplets

In [ ]:
#Q5:TO COUNT THE NO. OF EACH LETTER IN A STRING
name=input("Enter string")
name=name.lower()
for i in range(97,123):
  c=0
  for j in range(len(name)):
    if(name[j]==chr(i)):
     c=c+1
  print(chr(i),"=",c)

Enter stringMy Name is Jasica
a = 3
b = 0
c = 1
d = 0
e = 1
f = 0
g = 0
h = 0
i = 2
j = 1
k = 0
l = 0
m = 2
n = 1
o = 0
p = 0
q = 0
r = 0
s = 2
t = 0
u = 0
v = 0
w = 0
x = 0
y = 1
z = 0

In [ ]:

#Q2:TO FIND THE MAX, MIN AND AVERAGE FROM GIVEN NO. OF SALARIES
names = []
salaries = []
max = 0
min = 0
index_of_max = -1
index_of_min=0
s = 0

for i in range(0,5):
  name = input("Enter name: ")
  names.append(name)
  salary = int(input("Salary: "))
  salaries.append(salary)

for i in range(5):
  s += salaries[i]

  if salaries[i] > max:
    max = salaries[i]
    index_of_max = i

  min = salaries[0]
  if salaries[i] < min:
    min = salaries[i]
    index_of_min = i

avg = s/5
  

print(names[index_of_max] + "gets the max salary of " + str(max))
print(names[index_of_min] + "gets the max salary of " + str(min))
print("Average salary = ", avg)

Enter name: ok1
Salary: 1111
Enter name: ok2
Salary: 2222
Enter name: ok3
Salary: 3333
Enter name: ok4
Salary: 4444
Enter name: ok5
Salary: 5555
ok5gets the max salary of 5555
ok1gets the max salary of 1111
Average salary =  3333.0

In [ ]:
#Q3:TO FIND POWER OF A NO. TILL 10
x=int(input("enter no."))
for i in range(1,11):
  print(x,"^",i,'\t',x**i)

enter no.2
2 ^ 1 	 2
2 ^ 2 	 4
2 ^ 3 	 8
2 ^ 4 	 16
2 ^ 5 	 32
2 ^ 6 	 64
2 ^ 7 	 128
2 ^ 8 	 256
2 ^ 9 	 512
2 ^ 10 	 1024

In [ ]:
#Q4:TO FIND THE NO. OF VOWELS AND CONSONANTS IN A STRING
ok=input("enter string")
s=ok.lower()
v=0
c=0
for i in range(len(ok)):
  if s[i]=='a'or s[i]=='e'or s[i]=='i'or s[i]=='o'or s[i]=='u':
   v=v+1
  else:
    c=c+1
print("count of vowels",v)
print("count of consonants",c)
print(v*100/c)

enter stringalphabet
count of vowels 3
count of consonants 5
60.0